@import url('http://fonts.googleapis.com/css?family=Open+Sans:700,400');
@import url('http://fonts.googleapis.com/css?family=Roboto:700,400');

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/background.png");
    padding-top: 50px;
    padding-bottom: 20px;
}
